<h1>Players</h1>

<table>
  <thead>
    <tr>
      <th style="text-align:left">Name</th>
      <th>Captain </th>
      <th>Vice Captain </th>
      <th>Players count </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td style="text-align:left"><%= link_to user.name , "/players/user/" + user.id.to_s %> </td>
      <td><%if !@captains[user.id].nil? %><%= @captains[user.id].name %><%else%> <center>-</center> <%end%></td>
      <td><%if !@vice_captains[user.id].nil? %><%= @vice_captains[user.id].name %><%else%> <center>-</center> <%end%></td>
        <td><center><%= @players[user.id].size %></center></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>
