
<h1>Leagues</h1>

<table>
  <tbody>
    <% @leagues.each do |league| %>
    <tr>
      <td style="text-align:left"><%= link_to league.name , "/leagues/" + league.id.to_s %> </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>
